@tailwind base;
@tailwind components;
@tailwind utilities;

.th-id{
    border-radius: 10px 0 0 0;
}

.th-edit {
    border-radius: 0 10px 0 0;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}